body{
    background-color: #51A5A4;
}

#PlayButton{
    text-align: center;
    padding-top: 23%;
}

#ResetButton{
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
}

#ResetButton a button {
    border:2px solid black;
}

#ResetButton button{
    border:2px solid black;
}

#PipesContainer{
    margin: 2% 0 2% 0;
    border: 2px solid black;
}

.PipeBlock ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.PipeBlock{
    margin: 2px;
    padding: 5px 0 0 0 ;
    width: 70px;
    height: 80px;
    text-align: center;
}

.PipeImage{
    max-width: 70px;
}

.container{
    text-align: center;
    margin-top: 2%;
    width: 80%;
    padding: 0;
    background-color: #395E66;
    border: 2px solid black;
}

.cell{
    margin: 0;
    text-align: center;
    padding: 0;
    height: 90px;
    border: 1px solid black;
    background-color: #B4D2E7;
    /*content:"";*/
    /*display:block;*/
    /*padding-top: 100%;*/
}

.cell ul{
    padding: 0;
    margin: 0;
}

.cell ul img{
    max-width: 100%;
    height: auto;
}


.row{
    width: 100%;
    margin: 0;
    text-align: center;
}


#win {
    background: url(https://media.giphy.com/media/12fmPI7m38W4eY/giphy.gif) no-repeat center center fixed;
    background-size: cover;
}




