<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HypePipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="ResetButton">
    <a href="/game">
        <button type='button' class='btn btn-dark btn-lg'>RESET GAME</button>
    </a>
</div>
<div id="ResetButton">
    <button id="checkButton" type='button' class='btn btn-dark btn-lg'>CHECK</button>
</div>

    <script src='/static/dragula.js'></script>
    <script>
        let drake = dragula({
            isContainer: function (el) {
                return el.classList.contains('dragula-container');
            }
        });


    </script>

<div class="container rounded justify-content-center ">
    <div class="d-flex justify-content-center">
        <div class="col-xl-10 jumbotron jumbotron-fluid rounded" id="PipesContainer">
            {% for i in range(0, 9) %}
                <div class="col-lg-1 btn byn-info dragula-container PipeBlock">
                    <ul data-edge-1=1 data-edge-2=3 class="d-flex flex-wrap align-items-center">
                        <img class="PipeImage straight img-fluid" src="static/icons/straight-vertical.png" data-direction="0">
                    </ul>
                </div>
            {% endfor %}
            {% for i in range(0, 4) %}
                <div class="col-lg-1 btn byn-info dragula-container PipeBlock">
                    <ul data-edge-1=3 data-edge-2=2>
                        <img class="PipeImage curved img-fluid" src="static/icons/curved1.png" data-direction="0">
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
    {% set i = 0 %}
    {% for y in range(1, 8) %}
        <div class="row justify-content-center">
            {% for x in range(1,11) %}
                <div class="cell col-lg-1 btn col-1 dragula-container d-flex flex-wrap align-items-center"
                     data-position-x='{{ x }}' data-position-y='{{ y }}' data-edge-1="" data-edge-2=""
                     id="{{ y }}{{ x }}"></div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    document.getElementById('21').dataset['edge-2'] = '2';
    document.getElementById('21').style.backgroundImage = "url(static/icons/start.png)"; // specify the image path here
    document.getElementById('21').style.backgroundSize = '88px'
    document.getElementById('510').style.backgroundImage = "url(static/icons/finish.png)"; // specify the image path here
    document.getElementById('510').style.backgroundSize = '88px'; // specify the image path here
</script>
<script src="static/game.js" defer></script>
<script src="static/rotate_pipe.js" defer></script>


</body>
</html>